<script lang="ts">
	import { toastStore, type ToastSettings } from '@skeletonlabs/skeleton';
	import { page } from '$app/stores';
	import { posts, getPosts } from '$lib/posts';
	import { goto } from '$app/navigation';
	import { onMount } from 'svelte';

	const p = $page;
	const id: number = parseInt(p.params.id);
	let post = $posts.find((p) => p.id === id);

	onMount(() => {
		// The user may get to another post by changing the number
		// in the url. This, however, will not work, as the posts store
		// will reset if done that way, so we add this to ensure it will work.
		// If the post doesn't exist, then it will show undefined
		if (!post) {
			getPosts().then((data) => {
				post = data.find((p) => p.id === id);

				// If it still fails, instead of just showing
				// an undefined page, we instead display a toast
				// message, and then redirect the user back to /posts
				if (!post) {
					const settings: ToastSettings = {
						message: `Post does not exist with the id of ${id}`,
						background: 'variant-filled-error'
					};

					toastStore.trigger(settings);
					goto('/posts');
				}
			});
		}
	});
</script>

<div class="p-4">
	<ol class="breadcrumb variant-ghost p-2 rounded w-min">
	<li class="crumb"><a href="/posts" class="anchor no-underline">Posts</a></li>
		<li class="crumb-separator">&rsaquo;</li>
		<li class="crumb">{post?.id}</li>
	</ol>
	<article>
		<header>
			<h1 class="h1">{post?.title}</h1>
		</header>
		<main>
			{post?.body}
		</main>
	</article>
</div>
