<script lang="ts">
	import { pages } from '$lib/stores';
</script>

<section class="p-4">
	<h1 class="h1">Heya, buddy</h1>
	<br />
	<p>
		Whatever you were looking for, doesn't exist, sadly. <br />
		Click on any button on the left side to get to the corresponding page, or click on any below:

		{#each $pages as link}
			<nav class="list-nav max-w-min">
				<ul>
					<li class="list-disc ml-4 mb-2">
						<a class="anchor no-underline" href={link.url}>{link.value}</a>
					</li>
				</ul>
			</nav>
		{/each}
	</p>
</section>
