<script lang="ts">
	// import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
	import '../theme.postcss';
	import '@skeletonlabs/skeleton/styles/skeleton.css';
	import '../app.postcss';

	import { AppBar, AppShell, Drawer, drawerStore, Toast } from '@skeletonlabs/skeleton';
	import NavBar from '$lib/components/NavBar.svelte';

	const drawerOpen = (): void => drawerStore.open();
</script>

<Toast position="t" />

<Drawer>
	<NavBar />
</Drawer>

<AppShell slotSidebarLeft="w-0 md:w-56 bg-surface-100/5">
	<svelte:fragment slot="header">
		<AppBar>
			<svelte:fragment slot="lead">
				<button class="md:hidden btn btn-sm mr-4" on:click={drawerOpen}>
					<span>
						<svg viewBox="0 0 100 100" class="fill-token w-4 h-4">
							<rect width="100" height="20" />
							<rect y="30" width="100" height="20" />
							<rect y="60" width="100" height="20" />
						</svg>
					</span>
				</button>
			</svelte:fragment>
			<strong class="text-xl uppercase">Rohan's Website</strong>
		</AppBar>
	</svelte:fragment>
	<svelte:fragment slot="sidebarLeft">
		<NavBar />
	</svelte:fragment>
	<slot />
</AppShell>
