<script lang="ts">
	import { Accordion, AccordionItem } from '@skeletonlabs/skeleton';
	import Icon from '@iconify/svelte';
	import { fade } from 'svelte/transition';

	let visible = true;
</script>

<div class="p-4">
	{#if visible}
		<aside transition:fade|local={{ duration: 100 }} class="alert variant-ghost-warning">
			<div><Icon icon="octicon:alert-16" /></div>
			<div class="alert-message">
				<h3 class="h3">Alert</h3>
				<p>
					There are plans for a backend to power this website even more! You can view the Trello
					board <a class="anchor" href="https://trello.com/b/7WPqRZZ6" target="_blank">here</a> to see
					the todos, what I'm currently doing, what's being planned, the completed stuff, and the bugs!
				</p>
			</div>
			<div class="alert-actions">
				<button class="btn btn-icon variant-ghost-warning" on:click={() => (visible = false)}
					><Icon icon="mdi:close-outline" /></button
				>
			</div>
		</aside>
	{/if}

	<Accordion>
		<AccordionItem disabled>
			<svelte:fragment slot="summary">Socials</svelte:fragment>
		</AccordionItem>
		<AccordionItem>
			<svelte:fragment slot="lead">
				<Icon icon="fontisto:discord" />
			</svelte:fragment>
			<svelte:fragment slot="summary">Discord</svelte:fragment>
			<svelte:fragment slot="content">
				<p>
					Discord is a platform, where anyone can hang out and talk to each other, either by texts,
					voice chatting, or through video calls. My Discord server invite link is
					<a class="anchor" href="https://discord.gg/WxHgdFD" target="_blank">discord.gg/WxHgdFD</a
					>. This is the best place to talk to me, as I am most active here.
				</p>
			</svelte:fragment>
		</AccordionItem>
		<AccordionItem>
			<svelte:fragment slot="lead">
				<Icon icon="mdi:twitter" />
			</svelte:fragment>
			<svelte:fragment slot="summary">Twitter</svelte:fragment>
			<svelte:fragment slot="content">
				<p>
					I also use Twitter (or X, but I will continue to refer as Twitter, since it's way better),
					but I do make tweets (mostly memes) from time to time. Find it <a
						class="anchor"
						href="https://twitter.com/YTRohankid1YT"
						target="_blank">here</a
					>
				</p>
			</svelte:fragment>
		</AccordionItem>
		<AccordionItem>
			<svelte:fragment slot="lead">
				<Icon icon="mdi:youtube" />
			</svelte:fragment>
			<svelte:fragment slot="summary">YouTube</svelte:fragment>
			<svelte:fragment slot="content">
				<p>
					I am inconsistent at uploading - so I don't have a fixed schedule. But, nowadays, I do not
					upload much.
					<a class="anchor" href="https://youtube.com/rohankid1" target="_blank">Channel link</a>
				</p>
			</svelte:fragment>
		</AccordionItem>
	</Accordion>
	<p>
		Hello! My name is Rohan, and I enjoy programming and gaming. For programming, I mostly write in
		the Rust programming language, but I also try out other languages/frameworks if they interest
		me. By the way, feel free to follow any of my socials, which you can find above this paragraph.
	</p>
	<br />
</div>
