<script lang="ts">
	import { ProgressRadial } from '@skeletonlabs/skeleton';
	import Post from '$lib/components/Post.svelte';
	import { getPosts, posts } from '$lib/posts';
	import type { Post as PostModel } from '$lib/models';

	const len = $posts.length;
	// let data: PostModel[] Promise<PostModel>;
	let data: Promise<PostModel[]> | PostModel[];

	if (len === 0) data = getPosts();
	else data = $posts;

	const isPromise = data instanceof Promise;
</script>

<p class="ml-4">
	Note: Until the backend is written, I will continue to use data from <a
		class="anchor"
		href="https://jsonplaceholder.typicode.com"
		target="_blank">jsonplaceholder</a
	>
</p>
<section class="p-4 grid grid-cols-1 md:grid-cols-3 gap-4">
	{#if isPromise}
		{#await data}
			<ProgressRadial stroke={40} meter="stroke-primary-500" track="stroke-primary-500/30" />
		{:then posts}
			{#each posts as { body, id, title }}
				<Post {id} {title} author="">
					{body}
				</Post>
			{/each}
		{:catch}
			<h1 class="h1">Failed to fetch data...</h1>
		{/await}
	{:else if data instanceof Array}
		{#each data as { body, id, title }}
			<Post {id} {title} author="">
				{body}
			</Post>
		{/each}
	{/if}
</section>
