<script lang="ts">
	import { ProgressRadial, SlideToggle } from '@skeletonlabs/skeleton';
	import Icon from '@iconify/svelte';
	import type { Project } from '$lib/models';
	import { getRepositories } from '$lib/repo';

	const repos: Promise<Project[]> = getRepositories();
	let filterOn: boolean = false;
	$: cbMsg = filterOn ? 'Show all' : 'Hide forks';
</script>

<section>
	<div class="ml-4 mt-4 flex flex-row justify-between">
		<SlideToggle name="slide" bind:checked={filterOn}>{cbMsg}</SlideToggle>
	</div>
	<div class="p-4 grid grid-cols-1 md:grid-cols-3 gap-4">
		{#await repos}
			<ProgressRadial stroke={40} meter="stroke-primary-500" track="stroke-primary-500/30" />
		{:then data}
			{#each data.sort((a, b) => {
				if (a.fork && !b.fork) return 1;
				else return -1;
			}) as repo (repo.id)}
				{#if !(filterOn && repo.fork)}
					<div class="card variant-ghost">
						<header class="card-header font-bold">
							<a href={repo.html_url} target="_blank">
								{repo.name} <br />
								{#if repo.language}
									<small>Written in {repo.language}</small>
								{/if}
							</a>
						</header>
						<section class="p-4">
							{#if repo.fork}
								<Icon icon="ph:git-fork" width="38" height="38" />
								<br />
							{/if}
							{#if repo.description != null}
								{repo.description}
							{:else}
								N/A
							{/if}
						</section>
					</div>
				{/if}
			{/each}
		{:catch e}
			An error occured
		{/await}
	</div>
</section>
