<section class="p-4">
	<p>
		This website was made using open-source web technologies, including SvelteKit, Tailwind CSS, and
		Skeleton UI. Without Svelte/SvelteKit, web development (using raw HTML, CSS, and JS) would have
		been tedious.
	</p>

	<ul>
		<li>
			* <a class="anchor" href="https://svelte.dev" target="_blank">Svelte</a> /
			<a class="anchor" href="https://kit.svelte.dev" target="_blank">SvelteKit</a>
		</li>
		<li>* <a class="anchor" href="https://tailwindcss.com/" target="_blank">Tailwind</a></li>
		<li>* <a class="anchor" href="https://www.skeleton.dev/" target="_blank">Skeleton UI</a></li>
	</ul>

	<p>
		Also, you can find the source code for this website <a
			class="anchor"
			href="https://gitlab.com/rohankid1/ro-website"
			target="_blank">here</a
		>
	</p>
</section>
