:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: system-ui;
	--theme-font-family-heading: system-ui;
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 9999px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 0 0 0;
	--on-secondary: var(--color-warning-900);
	--on-tertiary: 0 0 0;
	--on-success: var(--color-primary-200);
	--on-warning: 0 0 0;
	--on-error: 0 0 0;
	--on-surface: var(--color-primary-500);
	/* =~= Theme Colors  =~= */
	/* primary | #89dddd */
	--color-primary-50: 237 250 250; /* ⬅ #edfafa */
	--color-primary-100: 231 248 248; /* ⬅ #e7f8f8 */
	--color-primary-200: 226 247 247; /* ⬅ #e2f7f7 */
	--color-primary-300: 208 241 241; /* ⬅ #d0f1f1 */
	--color-primary-400: 172 231 231; /* ⬅ #ace7e7 */
	--color-primary-500: 137 221 221; /* ⬅ #89dddd */
	--color-primary-600: 123 199 199; /* ⬅ #7bc7c7 */
	--color-primary-700: 103 166 166; /* ⬅ #67a6a6 */
	--color-primary-800: 82 133 133; /* ⬅ #528585 */
	--color-primary-900: 67 108 108; /* ⬅ #436c6c */
	/* secondary | #5eb7c1 */
	--color-secondary-50: 231 244 246; /* ⬅ #e7f4f6 */
	--color-secondary-100: 223 241 243; /* ⬅ #dff1f3 */
	--color-secondary-200: 215 237 240; /* ⬅ #d7edf0 */
	--color-secondary-300: 191 226 230; /* ⬅ #bfe2e6 */
	--color-secondary-400: 142 205 212; /* ⬅ #8ecdd4 */
	--color-secondary-500: 94 183 193; /* ⬅ #5eb7c1 */
	--color-secondary-600: 85 165 174; /* ⬅ #55a5ae */
	--color-secondary-700: 71 137 145; /* ⬅ #478991 */
	--color-secondary-800: 56 110 116; /* ⬅ #386e74 */
	--color-secondary-900: 46 90 95; /* ⬅ #2e5a5f */
	/* tertiary | #aaffcb */
	--color-tertiary-50: 242 255 247; /* ⬅ #f2fff7 */
	--color-tertiary-100: 238 255 245; /* ⬅ #eefff5 */
	--color-tertiary-200: 234 255 242; /* ⬅ #eafff2 */
	--color-tertiary-300: 221 255 234; /* ⬅ #ddffea */
	--color-tertiary-400: 196 255 219; /* ⬅ #c4ffdb */
	--color-tertiary-500: 170 255 203; /* ⬅ #aaffcb */
	--color-tertiary-600: 153 230 183; /* ⬅ #99e6b7 */
	--color-tertiary-700: 128 191 152; /* ⬅ #80bf98 */
	--color-tertiary-800: 102 153 122; /* ⬅ #66997a */
	--color-tertiary-900: 83 125 99; /* ⬅ #537d63 */
	/* success | #126933 */
	--color-success-50: 219 233 224; /* ⬅ #dbe9e0 */
	--color-success-100: 208 225 214; /* ⬅ #d0e1d6 */
	--color-success-200: 196 218 204; /* ⬅ #c4dacc */
	--color-success-300: 160 195 173; /* ⬅ #a0c3ad */
	--color-success-400: 89 150 112; /* ⬅ #599670 */
	--color-success-500: 18 105 51; /* ⬅ #126933 */
	--color-success-600: 16 95 46; /* ⬅ #105f2e */
	--color-success-700: 14 79 38; /* ⬅ #0e4f26 */
	--color-success-800: 11 63 31; /* ⬅ #0b3f1f */
	--color-success-900: 9 51 25; /* ⬅ #093319 */
	/* warning | #be6c0e */
	--color-warning-50: 245 233 219; /* ⬅ #f5e9db */
	--color-warning-100: 242 226 207; /* ⬅ #f2e2cf */
	--color-warning-200: 239 218 195; /* ⬅ #efdac3 */
	--color-warning-300: 229 196 159; /* ⬅ #e5c49f */
	--color-warning-400: 210 152 86; /* ⬅ #d29856 */
	--color-warning-500: 190 108 14; /* ⬅ #be6c0e */
	--color-warning-600: 171 97 13; /* ⬅ #ab610d */
	--color-warning-700: 143 81 11; /* ⬅ #8f510b */
	--color-warning-800: 114 65 8; /* ⬅ #724108 */
	--color-warning-900: 93 53 7; /* ⬅ #5d3507 */
	/* error | #ef4869 */
	--color-error-50: 253 228 233; /* ⬅ #fde4e9 */
	--color-error-100: 252 218 225; /* ⬅ #fcdae1 */
	--color-error-200: 251 209 218; /* ⬅ #fbd1da */
	--color-error-300: 249 182 195; /* ⬅ #f9b6c3 */
	--color-error-400: 244 127 150; /* ⬅ #f47f96 */
	--color-error-500: 239 72 105; /* ⬅ #ef4869 */
	--color-error-600: 215 65 95; /* ⬅ #d7415f */
	--color-error-700: 179 54 79; /* ⬅ #b3364f */
	--color-error-800: 143 43 63; /* ⬅ #8f2b3f */
	--color-error-900: 117 35 51; /* ⬅ #752333 */
	/* surface | #46214a */
	--color-surface-50: 227 222 228; /* ⬅ #e3dee4 */
	--color-surface-100: 218 211 219; /* ⬅ #dad3db */
	--color-surface-200: 209 200 210; /* ⬅ #d1c8d2 */
	--color-surface-300: 181 166 183; /* ⬅ #b5a6b7 */
	--color-surface-400: 126 100 128; /* ⬅ #7e6480 */
	--color-surface-500: 70 33 74; /* ⬅ #46214a */
	--color-surface-600: 63 30 67; /* ⬅ #3f1e43 */
	--color-surface-700: 53 25 56; /* ⬅ #351938 */
	--color-surface-800: 42 20 44; /* ⬅ #2a142c */
	--color-surface-900: 34 16 36; /* ⬅ #221024 */
}
