<script lang="ts">
	import { drawerStore } from '@skeletonlabs/skeleton';
	import { pages } from '$lib/stores';

	const drawerClose = (): void => drawerStore.close();
</script>

<nav class="list-nav">
	<ul>
		{#each $pages as link}
			<li><a href={link.url} on:click={drawerClose}>{link.value}</a></li>
		{/each}
	</ul>
</nav>
