<script lang="ts">
	export let title: string;
	export let author: string;
	export let id: number;

	const postTitle = title || 'Empty Title';
	const postAuthor = author || 'Anonymous';
</script>

<div class="card variant-ghost card-hover cursor-pointer">
	<a href={`/posts/${id}`}>
		<header class="card-header">{postTitle}</header>
		<footer class="card-footer">By {postAuthor}</footer>
	</a>
</div>
